* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  width: 1300px;
  margin: 0 auto;
}

#welcome {
  margin-top: 5%;
  /* will change accordingly to screen-size */
  display: flex;
  gap: 1rem;
  margin-bottom: 142px;
}

#text {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  align-items: flex-start;
}

#text h1 {
  font-weight: 800;
  font-size: 80px;
  line-height: 1.25;
  color: #1c1c1c;
}

#text p {
  font-size: 18px;
  line-height: 1.67;
  color: #777777;
}

#images {
  width: 50%;
  position: relative;
}

#images > figure > img {
  width: 100%;
}

#rating {
  width: max-content;
  position: relative;
  top: -130px;
  left: 120px;
  display: flex;
  align-items: center;
  gap: 14px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 7px 50px 0px rgba(0, 0, 0, 0.6);
  padding: 18px 28px;
}

#rating > i {
  color: #ffc850;
  font-size: 48px;
}

#rating > span > h3 {
  font-weight: 800;
  font-size: 30px;
  color: #1c1c1c;
}

#rating > span > p {
  font-weight: 600;
  color: #777777;
}

#featured-products {
  margin-bottom: 142px;
}

#reviews {
  background-image: linear-gradient(to right, #ff8938, #ff0000);
  display: flex;
  align-items: center;
  gap: 60px;
  margin-bottom: 142px;
  padding: 0 70px;
  border-radius: 10px;
  z-index: 1;
}

#reviews-text {
  width: 45%;
}

.user-reviews {
  width: 433px;
  background-color: #ffffff;
  padding: 42px 42px 32px 50px;
  border-radius: 8px;
  position: relative;
}

.user-avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  left: -20px;
  border: 2px solid #ffffff;
}

.user-avatar > img {
  width: 100%;
}

.user-review {
  line-height: 1.75;
  color: #777777;
  margin-bottom: 20px;
}

.user-name {
  font-weight: 700;
  line-height: 1.75;
}

.user-occupation {
  line-height: 1.75;
  color: #5D5A6F;
}

.one {
  position: relative;
  opacity: 30%;
  top: 95px;
  left: 130px;
}

.two {
  position: relative;
  z-index: 4;  
}

.three {
  position: relative;
  opacity: 30%;
  top: -100px;
  left: 130px;
}

#news-events {
  margin-bottom: 142px;
}

.heading,
.review-heading {
  font-weight: 800;
  font-size: 45px;
  margin-bottom: 20px;
}

.heading {
  text-align: center;
  color: #1c1c1c;
}

.paragraph,
.review-paragraph {
  line-height: 1.75;
}

.paragraph {
  text-align: center;
  color: #777777;
  margin-bottom: 50px;
}

.review-heading,
.review-paragraph {
  color: #f4f4f4;
}

.review-paragraph {
  margin-bottom: 30px;
}

.grid-container {
  display: grid;
  gap: 24px;
}

.four-column {
  grid-template-columns: repeat(4, 1fr);
}

.three-column {
  grid-template-columns: repeat(3, 1fr);
}

.grid-items-product {
  background-image: linear-gradient(
    rgba(244, 244, 244, 100),
    rgba(244, 244, 244, 0)
  );
  padding: 30px;
  border-radius: 10px;
}

.grid-figure {
  display: flex;
  justify-content: center;
}

.grid-items-product > h3 {
  text-align: center;
  font-weight: 800;
  font-size: 25px;
  color: #1c1c1c;
  margin-top: 30px;
  margin-bottom: 10px;
}

.grid-items-product > p {
  text-align: center;
  font-weight: 600;
  color: #777777;
  margin-bottom: 30px;
}

.grid-items-news {
  border: 1px solid #d2d2d2;
  border-radius: 10px;
}

.grid-items-news > figure {
  padding: 22px;
}

.grid-items-news > figure > img {
  width: 100%;
}

.news-details {
  padding: 0 32px 32px 32px;
}

.news-details > p {
  color: #777777;
  line-height: 1.75;
  margin-bottom: 10px;
}

.news-details > h3 {
  font-weight: 800;
  font-size: 20px;
  color: #1c1c1c;
  margin-bottom: 10px;
}

.news-details > a {
  font-weight: 700;
  color: #1c1c1c;
  text-decoration: none;
}

.primary-button {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  background-image: linear-gradient(to right, #ff8938, #ff0000);
  padding: 18px 20px;
  border-radius: 10px;
  border: none;
}

.primary-button > span {
  margin-left: 10px;
}

.secondary-button {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  /* background-color: #ffffff; */
  background-color: transparent;
  padding: 14px 28px;
  border-radius: 8px;
  border: 1px solid #ffffff;
  position: relative;
  z-index: 2;
}
